body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    background-color: aqua;
}

.header {
    background-color: chocolate;
}

.adminPanel {
    background-color: blue;
}

.inventory {
    background-color: aquamarine;
}

.order {
    background-color: cornflowerblue;
}