body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    background-color: aqua;
}

.header {
    background-color: chartreuse;
}

.adminPanel {
    background-color:black;
    padding: 10px;
    color: white;
}

.inventory {
    background-color: aquamarine;
}

.order {
    background-color: cornflowerblue;
}